* {
    box-sizing: border-box;
}body{

    background-color: #000000c7;
}
.container {
    padding: 0 60px;
    margin: 0 auto;
}
.snake {
    position: relative;
    background-image: url(images/360_F_2033260_xOH9OumIoBCi6KqrFld0OPQRJpCj6K.jpg);
    height: 100vh;
}
.snake .overley {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fce4ec5e;
}
.snake-menu {
    list-style: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.snake-menu li{
    padding: 10px 20px;
    background-color: #f44336f5;
    border-radius: 7px;
    margin: 0 auto 20px;
    font-size: 40px;
    text-align: center;
    width: calc(90% + 12px);
    cursor: pointer;
    transition: .4s;
    opacity: 0.7;
}
@media (max-width:520px) {
    .snake-menu {
        padding-left: 0;
    }
}
.snake-menu li:hover{
transform: translateY(8px);
}
.snake-menu li.active {
    opacity: 1;
}
.snake-menu li a{
    color: black;
    text-decoration: none;
}